body {
    background: rgb(22,22,22);
    margin: 0;
}
.Top {
    background: rgb(20,40,60);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.Right {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Right img {
    width: 70px;
}
.Left img {
    width: 30px;
}
.Page {
    background: rgb(20,40,60);
    border-radius: 0 0 20px 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: white;
}
.Page video {
    border-radius: 20px;
    width: 150%;
    max-width: 300px;
}
.About {
    border-right: 5px solid #6b4e10;
    color: white;
    padding: 0 10px 0 0;
}
.Warning {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.Warning2 {
    border: 1px solid #6b4e10;
    border-radius: 16px;
    background: #786e59;
    padding: 20px;
    width: 270px;
    margin-right: 20px;
}
.About2 {
    border-right: 5px solid #10466b;
    color: white;
    padding: 0 10px 0 0;
}
.Cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.Card {
    border: 1px solid #fbaaaa;
    border-radius: 30px;
    background: rgb(180,160,160);
    padding: 20px;
    width: 520px;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.Block {
    margin-right: 5px;
}
.Block2 {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    border-right: 4px solid #6b1010;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
}
.Card2 {
    border: 1px solid #9fffaa;
    border-radius: 30px;
    background: rgb(160,180,160);
    padding: 20px;
    width: 520px;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.Allow {
    margin-right: 5px;
}
.Allow2 {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    border-right: 4px solid #106b10;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
}